* {
  box-sizing: border-box;
  color: #000;
  font-family: "Open Sans", sans-serif;

  /* 39.6px */
}

body {
  background-color: #f6f6fc;
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.card {
  animation-name: hide-animation;
  animation-duration: 1s;
  background-color: #ffffff;
  width: 600px;
  height: 470px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px rgb(224, 221, 221);
}
.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-top: 20px;
  background-color: #6760e7;
}
h2 {
  position: absolute;
  left: -20px;
  border-radius: 50%;
  font-family: "BIZ UDPGothic";
  font-size: 60px;
  display: flex;
  height: 40px;
  width: 40px;
  font-weight: 700;
  padding-top: 8px;
  padding-left: 5px;
  margin-top: 12px;
  margin-left: 12px;
  background-color: #6760e7;
  color: white;
  z-index: 1;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 5px;
  top: 5px;
}
.content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0 20px;
}
.content > h4 {
  margin-top: 0;
  color: #a29dff;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.content > h3 {
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 25px;
  text-transform: capitalize;
}
.content > p {
  text-align: center;
  color: #566477;
  line-height: 22px;
}
.surprise-btn {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  background-color: #c6c3ff;
  color: #504acc;
  border-radius: 5px;
  cursor: pointer;
  animation-name: reverse-surprise-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.surprise-btn:hover {
  animation-name: forward-surprise-animation;
  animation-duration: 0.5s;
}
@keyframes forward-surprise-animation {
  from {
    background-color: #c6c3ff;
    color: #504acc;
  }
  to {
    background-color: #504acc;
    color: #dedee6;
  }
}
@keyframes reverse-surprise-animation {
  from {
    background-color: #504acc;
    color: #dedee6;
  }
  to {
    background-color: #c6c3ff;
    color: #504acc;
  }
}

.switch-btn > button {
  border: none;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  background-color: #ffffff;
  color: #504acc;
  cursor: pointer;
}
.card:hover {
  animation-name: shadow-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shadow-animation {
  from {
    box-shadow: 0 0 8px rgb(224, 221, 221);
  }
  to {
    box-shadow: -2px 8px 20px rgb(204, 202, 202);
  }
}
@keyframes hide-animation {
  from {
    box-shadow: -2px 8px 20px rgb(204, 202, 202);
  }
  to {
    box-shadow: 0 0 8px rgb(224, 221, 221);
  }
}
@media (width <= 650px) {
  .card {
    width: 90%;
    height: fit-content;
    padding-bottom: 20px;
  }
}